@font-face {
  font-family: "iconfont"; /* Project id 4278641 */
  src: url('iconfont.woff2?t=1697116917679') format('woff2'),
       url('iconfont.woff?t=1697116917679') format('woff'),
       url('iconfont.ttf?t=1697116917679') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-web:before {
  content: "\e600";
}

.icon-vuejs-line:before {
  content: "\e63c";
}

.icon-qianduan:before {
  content: "\e66d";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-folder-vuepress:before {
  content: "\e674";
}

.icon-qita1:before {
  content: "\e63b";
}

.icon-bianlihang-:before {
  content: "\e916";
}

.icon-MYBATIS:before {
  content: "\e695";
}

.icon-Redis-session:before {
  content: "\e6a1";
}

.icon-linux:before {
  content: "\e63a";
}

.icon-mysql:before {
  content: "\e76a";
}

.icon-bxl-spring-boot:before {
  content: "\e6fe";
}

.icon-Redis:before {
  content: "\e684";
}

.icon-string:before {
  content: "\e809";
}

.icon-ditu:before {
  content: "\e884";
}

.icon-qita:before {
  content: "\e60b";
}

.icon-relation:before {
  content: "\e867";
}

.icon-shuxue:before {
  content: "\e6d7";
}

.icon-a-376:before {
  content: "\e62d";
}

.icon-curve-reverse_32:before {
  content: "\e654";
}

.icon-kafei:before {
  content: "\e646";
}

.icon-zuzhijiagou:before {
  content: "\e6df";
}

.icon-caozuo-kafei:before {
  content: "\e645";
}

.icon-language-cpp:before {
  content: "\e7c7";
}

.icon-suanfa2:before {
  content: "\e76e";
}

.icon-jisuanjikaifa-copy:before {
  content: "\e7c8";
}

