@font-face {
  font-family: "iconfont"; /* Project id 4278641 */
  src: url('iconfont.woff2?t=1696903551008') format('woff2'),
       url('iconfont.woff?t=1696903551008') format('woff'),
       url('iconfont.ttf?t=1696903551008') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kafei:before {
  content: "\e646";
  font-size: 12px;
}

.icon-zuzhijiagou:before {
  content: "\e6df";
}

.icon-caozuo-kafei:before {
  content: "\e645";
}

.icon-language-cpp:before {
  content: "\e7c7";
  font-size: 15px;
}

.icon-suanfa2:before {
  content: "\e76e";
  font-size: 14px;
}

.icon-jisuanjikaifa-copy:before {
  content: "\e7c8";
  font-size: 14px;
}

