.sub-sidebar-wrapper {
    position: fixed !important;
    top: 3.6rem !important;
    bottom: 0rem !important;
    right: 3.2rem !important;
    overflow-y: scroll !important;
    margin: 0 !important;
}
.sub-sidebar-wrapper .sidebar-link {
    font-size: 0.9rem !important;
    line-height: 1.2 !important;
}

.sub-sidebar-wrapper li.level-3 {
    padding-left: 2rem !important;
}

.theme-reco-content {
    max-width: 70rem !important
}

.page-title {
    max-width: 70rem !important;
}

.page-edit {
    max-width: 70rem !important;
}
.page-nav {
    max-width: 70rem !important;
}

.content__default {
    max-width: 70rem !important;    
}

.medium-zoom-image {
    max-width: 70% !important;
}

.sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0 !important;
}